



<h1>  </h1>

<div class="p-3 mb-2 bg-primary text-white">


    
    <div class="btn-group" role="group" aria-label="Basic example" position="right">
      <div class="fixed-top">    
      <button type="button" class="btn btn-primary" (click)="annulerupdate()">Retour</button>
    </div></div> 
    </div> 
<div class="position-absolute top-50 start-50 translate-middle">
<fieldset style="background-color:#D0E3FA; max-width:500px; padding:16px;	
  border:2px solid blue;position: relative;">
<legend>Modifier Catégorie</legend>
<form class="row gy-2 gx-3 align-items-center" #f="ngForm" >
    <div><input type="hidden" name ="_id" value="oneCategorie._id"></div>
  <div class="row mb-3">
      <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm"><b>Title </b></label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-sm"   name="title"required #titre="ngModel"maxlength='10'  [(ngModel)]="oneCategorie.title" >
      </div>

      <div *ngIf ="titre.invalid">le titre est obligatoire!! et il ne doit pas dépasser 10 Caractéres</div>


    </div>
    <div class="row mb-3">
      <label for="colFormLabelSm" class="col-sm-3 col-form-label col-form-label-sm"><b>Description</b> </label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-sm"   name="description"required #descipt="ngModel" minlength="15"  [(ngModel)]="oneCategorie.description" >
      </div>

      <div *ngIf ="descipt.invalid">la description doit contenir au moins 15 Caractéres</div>
    </div>

    
  
  <div class="col-auto">
    <button type="submit" class="btn btn-primary" position-relative (click)="updatecategorie(f.value)">Confirmer</button>


  </div>
  <div class="col-auto">
      <button type="reset" class="btn btn-primary" position-relative (click)="annulerupdate()">Annuler</button>

      
    </div>
</form>
</fieldset>
