<h1>                                                                       </h1>
<table style="border:1px solid #6495ed;">
    <thead >
        <tr>
            <!-- <th>Id</th>  -->
            <th style="font-family: monospace;border: thin solid #6495ed;width: 50%;padding: 5px;background-color: #D0E3FA">Title</th>
            <th style="font-family: monospace;border: thin solid #6495ed;width: 50%;padding: 5px;background-color: #D0E3FA">Description</th>
                                             
            <th style="font-family: monospace;border: thin solid #6495ed;width: 50%;padding: 5px;background-color: #D0E3FA" colspan="3">Action</th>
            
        </tr>
    </thead>
    <tbody>  
        
         <tr >
            <!-- <td>{{oneCompetition._id}}</td> -->
            <td style=" border: thin solid #6495ed;width: 10%;padding: 5px;text-align: center;background-color: #ffffff">{{oneCategorie?.title}}</td>
            <td style=" border: thin solid #6495ed;width: 10%;padding: 5px;text-align: center;background-color: #ffffff"> {{oneCategorie?.description}}</td>
            
            
            <td> <button class="btn-warning" (click)="updateCategorie([oneCategorie._id])">Modifier</button></td>
                <td><button class="btn btn-warning" (click)="deleteCategorie([oneCategorie._id])">Supprimer</button></td>
        </tr>


    
    </tbody>
</table>