<section class="login-clean">
  <form #form="ngForm">
    <h2 class="visually-hidden">Login Form</h2>
    <div class="illustration"><img src="../../assets/velotn-logo.svg" style="width: 106px;" /></div>
    <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email" ngModel /></div>
    <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password" ngModel />
    </div>
    <div [class]="'alert '+ monitor.type" role="alert" *ngIf="monitor.visible">
      {{monitor.message}}
    </div>
    <div class="mb-3"><button class="btn btn-primary d-block w-100" (click)="login(form.value)">Log In</button></div><a
      class="forgot" href="#">Forgot your email or password?</a>
  </form>
</section>
