

    <div class="service-container">

        <a href="#" class="service-item">

            <div class="service-icon">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
            </div>

            <div class="service-content">

                <h3 class="service-title">Worldwide Delivery</h3>
                <p class="service-desc">For Order Over $100</p>

            </div>

        </a>

        <a href="#" class="service-item">

            <div class="service-icon">
                <i class="fa fa-rocket" aria-hidden="true"></i>
            </div>

            <div class="service-content">

                <h3 class="service-title">Next Day delivery</h3>
                <p class="service-desc">UK Orders Only</p>

            </div>

        </a>

        <a href="#" class="service-item">

            <div class="service-icon">
                <i class="fa fa-phone-square" aria-hidden="true"></i>            </div>

            <div class="service-content">

                <h3 class="service-title">Best Online Support</h3>
                <p class="service-desc">Hours: 8AM - 11PM</p>

            </div>

        </a>

        <a href="#" class="service-item">

            <div class="service-icon">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </div>

            <div class="service-content">

                <h3 class="service-title">Return Policy</h3>
                <p class="service-desc">Easy & Free Return</p>

            </div>

        </a>

        <a href="#" class="service-item">

            <div class="service-icon">
                <i class="fa fa-ticket" aria-hidden="true"></i>
            </div>

            <div class="service-content">

                <h3 class="service-title">30% money back</h3>
                <p class="service-desc">For Order Over $100</p>

            </div>

        </a>

    </div>

 