
<h1></h1>
<div class="p-3 mb-2 bg-primary text-white">

<nav  class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="['/login/']">Home</a>
      </li></ul>
      
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-link" href="#">Contacts</a>     
      
    </ul>

    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/competition/']"> Compétitions</a>
        </li>
        
        
      </ul>



        
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" [routerLink]="['/categories/']">Catégories de Compétitions</a>
      </li>
      
      
    </ul>


    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/addcategorie']">Ajouter Catégorie</a>
        </li>
        
        
      </ul>
      </div>
      </div>
    </nav>
    
</div>








<!-- <a  [routerLink]="['/addcategorie']">Ajouter Catégorie</a>  -->
<h1>                                                                       </h1>
<table style="border:2px solid #6495ed;">
    <thead >
        <tr>
            <!-- <th>Id</th> -->
            <th style="font-family: monospace;border: thin solid #6495ed;width: 50%;padding: 5px;background-color: #D0E3FA">Title</th>
            <th style="font-family: monospace;border: thin solid #6495ed;width: 50%;padding: 5px;background-color: #D0E3FA">Description</th>                                                  
            <th style="font-family: monospace;border: thin solid #6495ed;width: 50%;padding: 5px;background-color: #D0E3FA"colspan="3">Action</th>
            
        </tr>
    </thead>
    <tbody>  
        
         <tr *ngFor=" let i of listCategories ">
        
            <!-- <td >{{i._id}}</td> -->
            <td style=" border: thin solid #6495ed;width: 50%;padding: 5px;text-align: center;background-color: #ffffff">{{i.title}}</td>
            <td style=" border: thin solid #6495ed;width: 50%;padding: 5px;text-align: center;background-color: #ffffff"> {{i.description}}</td>
           <td style=" border: thin solid #6495ed;width: 50%;padding: 5px;text-align: center;background-color: #ffffff"> <a routerLink="/showonecategorie/{{i._id}}">Détail</a></td> 
            </tr>


    
        </tbody>
    </table>
    