<div class="container">
    <h2>Velo.tn<small><br>Liste de Matrials</small><br>
    <button routerLink="/addMatrial"  class="button">Nouveau Matrial</button>
    </h2>
    
 <div class="container">
    <div class="row" style="display: -webkit-inline-box;">
      <form [formGroup]="filterForm"  style="display: flex;" (ngSubmit)="onSubmit()">
      <div class="col-3">
        <div class="input-field">
          <label>Categorie :</label>
          <select required formControlName="categorie">
            <ng-container *ngFor="let item of categories">

              <option value="{{item._id}}">{{item.name}}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="col-3">
        <div class="input-field">
          <label>Prix min</label>
          <input type="number" formControlName="prixmin" required>
        </div>
      </div>
      <div class="col-3">
        <div class="input-field">
          <label>Prix max</label>
          <input type="number" formControlName="prixmax" required>
        </div>
      </div>

      <div class="col-3">
        <div class="input-field">
          <label>Trie :</label>
          <select required formControlName="sort">
            <ng-container *ngFor="let item of sortings">

              <option value="{{item.id}}">{{item.txt}}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="col-3">
        <div class="input-field">
          <button type="Submit"  >Filter</button>

      </div>
      </div>
    </form>
    </div>
  </div>
    <ul class="responsive-table">
      <li class="table-header">
        <div class="col col-1">Image</div>
        <div class="col col-2">Titre</div>
       <div class="col col-3">Code</div>  
       <div class="col col-4">Prix</div>
       <div class="col col-5">Catgorie</div>      
        <div class="col col-6">Status</div>
        <div class="col col-7">Modifier</div>

        
        <div class="col col-8">Supprimer</div>
      </li> 
      <ng-container *ngFor="let item of matrials">
      
      <li class="table-row">
        <img class="col col-1" [src]="'http://localhost:3000/'+item.imageUrl" alt="">
        <div class="col col-2" data-label="Job Id">{{item.title}}</div>
        <div class="col col-3" data-label="Job Id">{{item.code}}</div>
        <div class="col col-4" data-label="Job Id">{{item.price}} DN</div>
        <div class="col col-5" data-label="Job Id">{{item.categorie.name}}</div>

        <div *ngIf="item.state==='in_stock'" class="col col-6" data-label="Job Id">En stock</div>
        <div *ngIf="item.state==='not_available'" class="col col-6" data-label="Job Id">Indisponible</div>
        <div *ngIf="item.state==='in_48_h'" class="col col-6" data-label="Job Id">Dans 48H</div>
        <div *ngIf="item.state==='on_arrival'" class="col col-6" data-label="Job Id">à l'arrivée</div>

        <div class="col col-7" data-label="Amount"><i routerLink="/update-matrial/{{item._id}}" style="color: blue;cursor: pointer" class="fa fa-pencil" aria-hidden="true"></i></div>
        <div class="col col-8" data-label="Amount"><i style="color: red;cursor: pointer;" (click)="delete(item._id)" class="fa fa-trash" aria-hidden="true"></i></div>
       </li>
    </ng-container>
    </ul>
  </div>
