

<div class="position-absolute top-50 start-50 translate-middle">

<fieldset style="background-color:#D0E3FA; max-width:500px; padding:16px;	
  border:2px solid blue;position: relative;">
<legend>Supprimer Compétition</legend>
<form class="row gy-2 gx-3 align-items-center"#f1="ngForm">
    <label>
    Etes-vous sûr de supprimer la compétition !!

</label><br>
<button class="btn btn-warning" position-relative (click)="deleteCompetition()">OUI</button>
<button class="btn btn-warning" position-relative (click)="annulerdelete()">NON</button>


</form>
</fieldset>
</div>
