
<table style="border:2px solid #6495ed;">
    <thead >
        <tr>
            <!-- <th>Id</th> -->
            <th style="font-family: monospace;border: thin solid #6495ed;width: 50%;padding: 5px;background-color: #D0E3FA">Designation</th>
            <th style="font-family: monospace;border: thin solid #6495ed;width: 50%;padding: 5px;background-color: #D0E3FA">Place</th>
            <th style="font-family: monospace;border: thin solid #6495ed;width: 50%;padding: 5px;background-color: #D0E3FA">Date</th>
            <th style="font-family: monospace;border: thin solid #6495ed;width: 50%;padding: 5px;background-color: #D0E3FA">Catégorie</th>                       
            <!-- <th style="font-family: monospace;border: thin solid #6495ed;width: 50%;padding: 5px;background-color: #D0E3FA"colspan="3">Action</th> -->
            
        </tr>
    </thead>
    <tbody>  
        
         <tr *ngFor=" let i of result">
        
            <!-- <td >{{i._id}}</td> -->
            <td style=" border: thin solid #6495ed;width: 50%;padding: 5px;text-align: center;background-color: #ffffff">{{i.designation}}</td>
            <td style=" border: thin solid #6495ed;width: 50%;padding: 5px;text-align: center;background-color: #ffffff"> {{i.place}}</td>
            <td style=" border: thin solid #6495ed;width: 50%;padding: 5px;text-align: center;background-color: #ffffff"> {{i.date}}</td>   
            <td style=" border: thin solid #6495ed;width: 50%;padding: 5px;text-align: center;background-color: #ffffff"> {{i.categorie}}</td>
            <!-- <td style=" border: thin solid #6495ed;width: 50%;padding: 5px;text-align: center;background-color: #ffffff"> <a routerLink="/showonecompetition/{{i._id}}">Détail</a></td> -->
            </tr>


    
        </tbody>
    </table>