 <div class="col-md-6">
    <h4>Rentals List</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let rental of rentals; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveRental(rental, i)"
      >
        {{ rental?.address }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <div *ngIf="currentRental">
      <div>
        <label><strong>Address:</strong></label> {{ currentRental?.address }}
      </div>
      <div>
        <label><strong>Prix:</strong></label>
        {{ currentRental?.price }}
      </div>
      <div>
        <label><strong>Couleur:</strong></label>
        {{ currentRental?.velo?.couleur }}
      </div>
      <div>
        <label><strong>Type:</strong></label>
        {{ currentRental?.velo?.kind }}
      </div>
      <div>
        <label><strong>Marque:</strong></label>
        {{ currentRental?.velo?.marque }}
      </div>
      <div>
        <label><strong>Modéle:</strong></label>
        {{ currentRental?.velo?.modele }}
      </div>
      <a class="badge badge-warning" routerLink="/rentals/{{ currentRental?.id }}">
        Edit
      </a>
    </div>

    <div *ngIf="!currentRental">
      <br />
      <p>Please click on a Rental...</p>
    </div>
  </div>
