<header>

    <div class="header-top">
  
      <div class="container">
  
        <ul class="header-social-container">
  
          <li>
            <a href="#" class="social-link">
           
            </a>
          </li>
  
          <li>
            <a href="#" class="social-link">
            
            </a>
          </li>
  
          <li>
            <a href="#" class="social-link">
              
            </a>
          </li>
  
          <li>
            <a href="#" class="social-link">
           
            </a>
          </li>
  
        </ul>
  
        <div class="header-alert-news">
          <p>
            <b>Free Shipping</b>
            This Week Order Over - $55
          </p>
        </div>
  
        <div class="header-top-actions">
  
          <select name="currency">
    
            <option value="usd">TUN </option>
            <option value="usd">USD </option>
            <option value="eur">EUR </option>
  
          </select>
  
          <select name="language">
  
            <option value="en-US">FRANCAIS</option>
            <option value="es-ES">ANGLAIS</option>
   
          </select>
  
        </div>
  
      </div>
  
    </div>
  
    <div class="header-main">
  
      <div class="container">
  
    <h2>Volo TN</h2>
  
        <div class="header-search-container">
  
          <input type="search" name="search" class="search-field" placeholder="Entrez le nom de votre produit...
          ">
  
          <button class="search-btn">
     
          </button>
  
        </div>
  
        <div class="header-user-actions">
  
          <button class="action-btn">
          
          </button>
  
          <button class="action-btn">
            <i (click)="to()" class="fa fa-cart-plus" aria-hidden="true"></i>

            <span class="count"></span>
          </button>
  
         
  
        </div>
  
      </div>
  
    </div>
  
    <nav class="desktop-navigation-menu">
  
      <div class="container">
  
        <ul class="desktop-menu-category-list">
  
          <li class="menu-category">
            <a href="#" class="menu-title">Home</a>
          </li>
  
         
   
  
        
          <li class="menu-category">
            <a href="#" class="menu-title">Contact</a>
          </li>
  
         
  
          <li class="menu-category">
            <a href="#" class="menu-title">Service</a>
          </li>
     
  
          <li class="menu-category">
            <a href="#" class="menu-title">Blog</a>
          </li>
  
          <li class="menu-category">
            <a href="#" class="menu-title">Hot Offers</a>
          </li>
  
        </ul>
  
      </div>
  
    </nav>
  
    <div class="mobile-bottom-navigation">
  
      <button class="action-btn" data-mobile-menu-open-btn>
     
      </button>
  
      <button class="action-btn">
        
  
        <span class="count">0</span>
      </button>
  
      <button class="action-btn">
        
      </button>
  
      <button class="action-btn">
        
  
        <span class="count">0</span>
      </button>
  
      <button class="action-btn" data-mobile-menu-open-btn>
       
      </button>
  
    </div>
  
 
  
  </header>